.Home-main-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Home-scroll-part {
    max-width: 600px;
}

/* center add post  */

.Add-post-main-div {
    max-width: 500px;
    padding: 14px 12px;
    background-color: #7abee2;
    border-radius: 12px;
}

.Add-post-div {
    display: flex;
    margin-bottom: 12px;
}

.post-button {
    background-color: #ffffff;
    width: 100%;
    padding: 8px 13px;
    border-radius: 20px;
}

.post-button p {
    color: #535353;
}

.add-another {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-another small {
    font-size: 15px;
    color: white;
    font-weight: 600;
}

.adding-icon {
    font-size: 23px;
    color: white;
    margin-right: 8px;
}

/* Right side  */

.menu {
    box-shadow: 1px 1px 10px #cbd5e1;
}

.friend-bottom-part {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.friend-bottom-part a {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.friend-bottom-part a:hover {
    background-color: #e5e7eb;
    border-radius: 5px;
}

@media screen and (max-width: 1030px) {
    .Home-main-div {
        display: block;
        position: relative;
    }

    .Home-scroll-part {
        position: absolute;
        left: 12%;
    }

    .left-side-part {
        position: absolute;
        top: 0px;
        right: 0;
    }

    .Right-side-part {
        position: absolute;
        top: 160px;
        right: 0;
    }
}


@media screen and (max-width: 1000px) {
    .Home-scroll-part {
        left: 10%;
    }
}

@media screen and (max-width: 950px) {
    .Home-scroll-part {
        left: 7%;
    }
}

@media screen and (max-width: 890px) {
    .Home-scroll-part {
        left: 5%;
    }
}

@media screen and (max-width: 865px) {
    .Home-scroll-part {
        left: 2%;
    }
}

@media screen and (max-width: 815px) {
    .Home-scroll-part {
        left: 0;
    }
}

@media screen and (max-width: 785px) {
    .Home-scroll-part {
        position: sticky;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .left-side-part {
        display: none;
    }

    .Right-side-part {
        display: none;
    }
}


@media screen and (max-width: 460px) {
    .post-button {
        font-size: 15px;
    }

    .add-another small {
        font-size: 12px;
        font-weight: 700;
    }

}